/* 全局样式表 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}


.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

element.style {
    height: 300px;
}

.el-cascader-menu__list {
    height: 300px;
}

.data-container {
    width: 1150px;
    margin: 0 auto;
    height: 750px;
    background-color: #F2F2F2;
}
